<div class="container pt-4">
  <tabset #staticTabs>
    <tab heading="Transactions">
      <div class="p-2">
        <app-transactions></app-transactions>
      </div>
    </tab>
    <tab heading="ERC20 Transfers">
      <div class="p-2">
        <app-erc20-transactions></app-erc20-transactions>
      </div>
    </tab>
    <tab heading="ERC721 Transfers">
      <div class="p-2">
        <app-erc721-transactions></app-erc721-transactions>
      </div>
    </tab>
  </tabset>
  <hr>
</div>
<footer>
  <div class="container pt-2 pb-4">Footer</div>
</footer>
